<!doctype html>

<div class='health-widget'>
  <div class='heading'>Health</div>
  <div class='graph'>

    <div class='graph-stage'>
      <div class='stage-label'>Clone</div>
      <div class='stage-rows'>
        <div class='graph-row'>
          <div class='row-label'>Temp</div>
          <div class='row-boxes'>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
          </div>
        </div>

        <div class='graph-row'>
          <div class='row-label'>Humidity</div>
          <div class='row-boxes'>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box error'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
          </div>
        </div>

        <div class='graph-row'>
          <div class='row-label'>PAR</div>
          <div class='row-boxes'>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
          </div>
        </div>
      </div>
    </div>

    <div class='graph-stage'>
      <div class='stage-label'>Grow</div>
      <div class='stage-rows'>
        <div class='graph-row'>
          <div class='row-label'>Temp</div>

          <div class='row-boxes'>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
          </div>
        </div>

        <div class='graph-row'>
          <div class='row-label'>Humidity</div>
          <div class='row-boxes'>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
          </div>
        </div>

        <div class='graph-row'>
          <div class='row-label'>PAR</div>
          <div class='row-boxes'>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
          </div>
        </div>
      </div>
    </div>
    <div class='graph-stage'>
      <div class='stage-label'>Flower</div>
      <div class='stage-rows'>
        <div class='graph-row'>
          <div class='row-label'>Temp</div>

          <div class='row-boxes'>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
          </div>
        </div>

        <div class='graph-row'>
          <div class='row-label'>Humidity</div>
          <div class='row-boxes'>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
          </div>
        </div>

        <div class='graph-row'>
          <div class='row-label'>PAR</div>
          <div class='row-boxes'>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
          </div>
        </div>
      </div>
    </div>

    <div class='graph-stage'>
      <div class='stage-label'>Cure</div>
      <div class='stage-rows'>
        <div class='graph-row'>
          <div class='row-label'>Temp</div>

          <div class='row-boxes'>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
          </div>
        </div>

        <div class='graph-row'>
          <div class='row-label'>Humidity</div>
          <div class='row-boxes'>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
          </div>
        </div>

        <div class='graph-row'>
          <div class='row-label'>PAR</div>
          <div class='row-boxes'>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
            <div class='box'></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
