<!doctype html>
<div class="knobs">

 
  <h3>knobs</h3>
  
  
 <div class="contain-scroll">
   <div class="knob-left">
    <h5>Min Temp Lights On</h5>
    <ui-knob value="knobsCtrlMinOnVal"  options="knobsCtrlMinOnOpt" ></ui-knob>
    
   </div> 
   
   <div>
     <h5>Min Temp Lights Off</h5>
    <ui-knob value="knobsCtrlMinOffVal"  options="knobsCtrlMinOffOpt"></ui-knob>
   </div> 
   
   
   <div class="knob-left">
    <h5>Max Temp Lights On</h5>
    <ui-knob value="knobsCtrlMaxOnVal"  options="knobsCtrlMaxOnOpt" ></ui-knob>
    
   </div> 
   
   <div>
     <h5>Min Temp Lights Off</h5>
    <ui-knob value="knobsCtrlMaxOffVal"  options="knobsCtrlMaxOffOpt"></ui-knob>
   </div> 
   
</div>
  
   <!--
   <div class="panel panel-primary" ng-controller="knobCtrl3">
              
              <div class="panel-body text-center">
                  <ui-knob value="value" options="options"></ui-knob>
    		  </div> -->
</div>
