<!doctype html>
<div class="knobs">

 
  <h3>knobs</h3>
  
  
 <div class="contain-scroll">
   <div class="knob-left" ng-controller="knobsCtrlMinOn">
    <h5>Min Temp Lights On</h5>
    <ui-knob value="value"  options="options" ></ui-knob>
    
   </div> 
   
   <div ng-controller="knobsCtrlMinOff">
     <h5>Min Temp Lights Off</h5>
    <ui-knob value="value"  options="options"></ui-knob>
   </div> 
   
   
   <div class="knob-left" ng-controller="knobsCtrlMaxOn">
    <h5>Max Temp Lights On</h5>
    <ui-knob value="value"  options="options" ></ui-knob>
    
   </div> 
   
   <div ng-controller="knobsCtrlMaxOff">
     <h5>Min Temp Lights Off</h5>
    <ui-knob value="value"  options="options"></ui-knob>
   </div> 
   
</div>
  
   <!--
   <div class="panel panel-primary" ng-controller="knobCtrl3">
              
              <div class="panel-body text-center">
                  <ui-knob value="value" options="options"></ui-knob>
    		  </div> -->
</div>
