html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

p {
  margin: 0; }

input[type="text"] {
  display: block;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: 0; }

input[type="text"]:focus {
  outline: none; }

html {
  height: 100%;
  width: 100%;
  font-family: "Verdana", sans-serif;
  font-size: 14pt; }

body {
  height: 100%;
  margin: 0;
  padding: 10px;
  background-color: #c0c4ac;
  overflow: hidden; }

a {
  text-decoration: none;
  color: inherit; }
  a:hover {
    font-weight: bold; }

.main-content {
  display: flex;
  flex-direction: column;
  height: 100%; }
  .main-content .header {
    flex: 0 0 15%;
    background-color: #969696; }
    .main-content .header h3 {
      margin: 0;
      padding: 5px 5px;
      text-align: center;
      font-size: 2.0em;
      color: lightgray; }
  .main-content .middle {
    flex: 0 0 75%;
    background-color: #afafaf;
    display: flex;
    flex-direction: row;
    height: 100%; }
    .main-content .middle .middle-left {
      flex: 0 0 15%;
      padding: 4px; }
      .main-content .middle .middle-left .burger {
        width: 100%;
        text-align: right; }
      .main-content .middle .middle-left a {
        display: block; }
    .main-content .middle .middle-center {
      flex: 0 0 84%;
      height: 100%;
      background-color: #bebebe;
      color: #919191; }
      .main-content .middle .middle-center .dashboard {
        background-color: #d7d7d7;
        display: flex;
        flex-direction: column;
        height: 100%; }
        .main-content .middle .middle-center .dashboard h3 {
          text-align: center;
          flex: 0 0 10%; }
        .main-content .middle .middle-center .dashboard .dashboard-content {
          flex: 0 0 90%; }
      .main-content .middle .middle-center .settings {
        background-color: gainsboro;
        display: flex;
        flex-direction: column;
        height: 100%; }
        .main-content .middle .middle-center .settings h3 {
          text-align: center; }
  .main-content .bottom {
    flex: 0 0 10%;
    background-color: #e6e6e6; }
