.knob-left {
  float: left; }

.contain-scroll {
  height: 400px;
  border: solid 1px;
  overflow-y: auto;
  padding: 25px;
  margin: 25px; }

.horizontalSlider {
  margin-top: 10px;
  width: 60%; }

.editLink {
  color: blue;
  text-decoration: underline; }

a.editLink:link, a.editLink:visited {
  color: #ff0000;
  text-decoration: underline; }

a.editLink:hover, a.editLink:active {
  color: #ff0000;
  text-decoration: underline;
  cursor: pointer; }
