$bodyColor: rgb(192, 196, 172);
$header: rgb(150,150,150);
$middle: rgb(175,175,175);
$leftNav: rgb(200,200,200);
$dashboard: rgb(215,215,215);
$settings: rgb(220,220,220);
$bottom: rgb(230,230,230);
